html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: var(--zero-space) !important;
  padding: var(--zero-space) !important;

}


img,
svg {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none;
}

main,
header {
  display: none;
}