.header {
  font-family:var(--font-family-display) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right:var(--size-lg);
  backdrop-filter: blur(10px) saturate(120%);
  background-color: rgba(156, 109, 77, 0.678);
  -webkit-backdrop-filter: blur(6px) saturate(100%);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: var(--size-lg);
  font-weight: bold;
}

.cart-icon {
  font-size: 28px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.header-logo {
  height: var( --size-xxxl);
  animation: spin 4s cubic-bezier(0.77, 0, 0.175, 1) 0.999s forwards;

}

.header-actions {
  display: flex;
  align-items: center;
}


/* From Uiverse.io by Codecite */
.login-btn {
  transition: all 0.3s ease-in-out;
  font-family: var(--font-stylish);
  font-style: var( --font-style-italic);
  width: var(--size-button);
  height: var(--size-xxl);
  border-radius: var(--btn-radius);
  background-image: linear-gradient(135deg,  #7f5539ff 0%, #ad8164ff 50%, #7f5539ff 100%);
  box-shadow: 0 20px 30px -6px #432818ff;
  font-size: var(--fs-base);
  color: var(--dark-wine);
  animation: fadeSlideRight 5s cubic-bezier(0.77, 0, 0.175, 1) 0.999s forwards;

}

.login-btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

@keyframes fadeSlideRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}



.search-bar {
  width: 40%;
  padding: 10px 18px;
  border: 2px solid var(--dark-wine);
  border-radius: 25px;
  font-size: 1rem;
  animation: spin 3s cubic-bezier(0.77, 0, 0.175, 1) 0.999s forwards;

}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff99cc, #000);
  color: #fff;
  padding: 40px 20px;
}

.hero-section {
  position: relative;
}

.hero-image {
  background-image: url(../images/forough-Farrokhzad.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  background-position: center 30%;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0;
  align-items: flex-start;
}

.category {
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 2px 8px #0001;
  margin-bottom: 8px;
}

.category-icon {
  font-size: 38px;
  color: #555;
}

.category-label {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #444;
  margin-top: 2px;
  margin-bottom: 12px;
  width: 110px;
}

.category:hover {
  background: #ff0066;
  color: #fff;
}

.category:hover .category-icon {
  color: #fff;
}