body {
  font-family: var(--font-family-sans, sans-serif);
  font-size: var(--fs-base);
  color: var(--parchment);
  margin: var(--zero-space) !important;
  padding: var(--zero-space) !important;
  background: linear-gradient(135deg, rgb(61, 50, 30), rgba(73, 55, 22, 0.877), rgb(67, 34, 24), rgb(87, 68, 38));
  background-size: 400% 400%;
  animation: bgMove 10s ease infinite;
}


@keyframes bgMove {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}





/* ---------- Adverties Section (container + video) ---------- */
/* video container (قرارگیری سمت راست متن) */

