body {
  font-family: var(--font-family-sans, sans-serif);
  font-size: var(--fs-base);
  color: var(--parchment);
  margin: var(--zero-space) !important;
  padding: var(--zero-space) !important;
  background: linear-gradient(135deg, rgb(139, 115, 75), rgb(133, 104, 57), #432818ff, #432818ff, rgb(133, 104, 57), rgb(139, 115, 75));
  background-size: 400% 400%;
  animation: bgMove 10s ease infinite;
}

@keyframes bgMove {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.loader {
  position: relative;
  width: var(--space-xl);
  height: var(--space-xl);
  perspective: 67px;
}

.loader div {
  width: 100%;
  height: 100%;
  background: #2f3545;
  position: absolute;
  left: 50%;
  transform-origin: left;
  animation: loader 2s infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0.15s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.45s;
}

.loader div:nth-child(4) {
  animation-delay: 0.6s;
}

.loader div:nth-child(5) {
  animation-delay: 0.75s;
}

@keyframes loader {
  0% {
    transform: rotateY(0deg);
  }

  50%,
  80% {
    transform: rotateY(-180deg);
  }

  90%,
  100% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}